<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>Login</servlet-name>
  	<display-name>Login</display-name>
  	<description></description>
  	<servlet-class>com.employee.web.Login</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Logout</servlet-name>
  	<display-name>Logout</display-name>
  	<description></description>
  	<servlet-class>com.employee.web.Logout</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Registration</servlet-name>
  	<display-name>Registration</display-name>
  	<description></description>
  	<servlet-class>com.employee.web.Registration</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateProfile</servlet-name>
  	<display-name>UpdateProfile</display-name>
  	<description></description>
  	<servlet-class>com.employee.web.UpdateProfile</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Login</servlet-name>
  	<url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Logout</servlet-name>
  	<url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Registration</servlet-name>
  	<url-pattern>/registration</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateProfile</servlet-name>
  	<url-pattern>/updateProfile</url-pattern>
  </servlet-mapping>
</web-app>
